$bg-block: #f5f5f9;
$text-main-color: #48494d;
$text-color: #000000;
$text-color-contrast: #ffffff;
$text-color-third: #1a212f;
$halfhidden-color: #d7d9df;
$emphasis-color: #d12136;
$hover-color-bg: #bd0c21;
$emphasis-color-double: #ff0000;
$close-color: #9f9e9e;
