.tabs {
  padding-left: 6px;
}

.tabs__list {
  display: flex;
  margin: 0 0 10px 0;
  padding: 0;

  list-style: none;
}

.tabs__link {
  display: inline-block;
  min-width: 195px;
  padding: 12px 5px 12px 5px;

  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $text-main-color;
  text-decoration: none;

  border: 1px solid $halfhidden-color;
  cursor: pointer;

@extend .font-regular;

@extend .btn;
}

.tabs__link--active {
  color: $text-color-contrast;

  background-color: $emphasis-color;
  border-color: $emphasis-color;
}
